<div fxLayout="column" class="sticky-footer" id="top">
  <app-header></app-header>

  <mat-tab-group backgroundColor="primary">
    <mat-tab label="Overview">
      <app-overview></app-overview>
    </mat-tab>
    <mat-tab label="Main Point 1">
      <app-features></app-features>
    </mat-tab>
    <mat-tab label="Main Point 2">
      <app-features2></app-features2>
    </mat-tab>
    <mat-tab label="Main Point 3">
      <app-features3></app-features3>
    </mat-tab>
  </mat-tab-group>
  
  <!-- Make footer stick to the bottom -->
  <div fxFlex></div>
  
  <app-footer></app-footer>

</div>