.mat-toolbar {
    background-color: #424242;
}
a:link{
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }